@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

.container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
